

.navHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4vw;
    background-color: var(--background-color);
}

.navWrapper {
    display: flex;
    justify-content: end;
    width: 100%;
}

.navItemContainer {
    display: flex;
    margin: 0;
    gap: 2vw;
    padding-right: 2em;
}

.navItem {
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.0vw;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.navItem:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.navItem:visited {
    color: var(--text-color);
    text-decoration: none;
}

.navItem:visited:hover {
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: none;
}