<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/css/components/header.css">
    <link rel="stylesheet" href="/src/css/style.css">

</head>
<body>

    <header class="navHeader">
        <div class="navWrapper">

            <div class="spacer"></div>

            <div class="navItemContainer">
                <a class="navItem" href="/index.html">Home</a>
                <a class="navItem">About me</a>
                <a class="navItem">Projects</a>
            </div>
        </div>
    </header>

</body>
</html>