@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color: #e9eef0;
    --background-color: #080b0c;
    --primary-color: #a7c1cc;
    --secondary-color: #325c6c;
    --accent-color: #62aac7;
    --accent-color-rgb: 235, 99, 38;
    --font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.heroSection {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-items: start;
    padding: 0;
    background-color: var(--background-color);
    height: 100vh;
}

.heroTextElements {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    background-color: var(--primary-color);
}

.titleElement {
    text-align: start;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-size: 42px;
    margin-top: 10vh;
    margin-bottom: 0;
    margin-left: 2em;
    transform: rotate(270deg);
    display: inline-block;
}

.subtitleElement {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    font-size: 24px;
    margin-top: 1.5em;
    margin-left: 3.5em;
}

#leftSplit {
    background-color: var(--secondary-color);
    height: 100vh;
    width: 50vw;  /* wichtig für Split */
    float: left;  /* oder flexbox */
}

#rightSplit {
    background-color: var(--primary-color);
    height: 100vh;
    width: 50vw;
    float: right; /* oder flexbox */
}


/*
.heroButtons {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    margin-left: 4.5vw;
    gap: 1em;
}


.heroBtn1 {
    font-family: 'Montserrat', sans-serif;
    border: none;
    height: 50px;
    width: 120px;
    background-color: var(--primary-color);
    color: var(--background-color);
    cursor: pointer;
    border-radius: 8px;
}

.heroBtn2 {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--accent-color);
    height: 50px;
    width: 120px;
    background-color: transparent;
    color: var(--accent-color);
    cursor: pointer;
    border-radius: 8px;
}

.heroBtnGroup {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 5em;
    gap: 1em;
}

.heroBtnGroup > button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    height: 50px;
    width: 120px;
}


.heroBtnPrimary {
    background-color: var(--accent-color);
    color: var(--text-color);
    transition: transform 0.3s ease-in;
}

.heroBtnPrimary:hover {
    transform: translateY(-10px);
}

.heroBtnSecondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}


.ctaBtnhero {
    font-family: "Montserrat", sans-serif;
    height: 2em;
    width: 10em;
    border-radius: 0.1em;
    transition:
    width 1s ease,
    height 1s ease,
    transform 1s ease,
    background-color 1s ease,
    box-shadow 1s ease;
}

.ctaBtnhero:hover {
    width: 11em;
    height: 3em;
    border-radius: 0.1em;
    transform: scale(1.05);
    background-color: wheat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

 */

.aboutContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    height: 25em;
}

.aboutContainer > p {
    color: var(--text-color);
}