@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text-color: #f2ece9;
    --background-color: #0b0604;
    --primary-color: #e0ac95;
    --secondary-color: #893b19;
    --accent-color: #eb6326;
    --accent-color-rgb: 235, 99, 38;
    --font: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.heroSection {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--primary-color);
    height: 100vh;
}

.heroTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    margin-top: 30vh;
    margin-bottom: 0;
    margin-left: 2em;

}

.heroSubtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 1.5em;
    margin-left: 3.5em;
}

.heroBtnGroup {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 5em;
    gap: 1em;
}

.heroBtnGroup > button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    height: 50px;
    width: 120px;
}

.heroBtnPrimary {
    background-color: var(--accent-color);
    color: var(--text-color);
    transition: transform 0.3s ease-in;
}

.heroBtnPrimary:hover {
    transform: translateY(-10px);
}

.heroBtnSecondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}


.ctaBtnhero {
    font-family: "Montserrat", sans-serif;
    height: 2em;
    width: 10em;
    border-radius: 0.1em;
    transition:
    width 1s ease,
    height 1s ease,
    transform 1s ease,
    background-color 1s ease,
    box-shadow 1s ease;
}

.ctaBtnhero:hover {
    width: 11em;
    height: 3em;
    border-radius: 0.1em;
    transform: scale(1.05);
    background-color: wheat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    height: 25em;
}

.aboutContainer > p {
    color: var(--text-color);
}